openssl_conf = openssl_init

[openssl_init]
providers = provider_sect

[provider_sect]
default = default_sect
legacy = legacy_sect

[default_sect]
activate = 1

[legacy_sect]
activate = 1

# Algumas versões exigem que as seções de algoritmo sejam explicitadas
[alg_section]
default_properties = ?provider=legacy
