fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic-settings
python-multipart
passlib[bcrypt]
python-jose[cryptography]
alembic
pydantic[email]
email-validator
erpbrasil.assinatura
erpbrasil.edoc
nfelib<1.0.0
python-barcode
reportlab
lxml
erpbrasil.edoc.pdf
brazilfiscalreport
fpdf2
